<!-- app.component.html -->
<mat-toolbar color="primary" class="custom-toolbar" style="background: linear-gradient(to right, #FF0000, #FFC300, #12E186, rgba(25, 134, 244, 0.6))">
  <mat-toolbar-row>
    <img src="https://www.univ-gustave-eiffel.fr/typo3conf/ext/eiffel/Resources/Public/images/logoRS-UGE.png" width="60" height="50">
    <span style="background: linear-gradient(to right, #f4f4f5, #fcfcfc); -webkit-background-clip: text; color: transparent;" >Dashboards</span>
  </mat-toolbar-row>
</mat-toolbar>
